@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    background-image: url('https://lh3.googleusercontent.com/pw/AP1GczMR7QRxXoX7gsaoAZF9fTFuK_rCr19lwbd-BAl2l-A96nqSYMQ_CF6qdviH_9rNUvTR5BpWeXdyIz5DQSj3vzPXlH_qHO_pGZrsNy8EPfQZCSOjSGQ=w1920-h1080');
    font-family: 'Bricolage Grotesque', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding-left: 50%;
    padding-right: 15%;
}

@media (max-width: 881px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container-lg {
    background-color: #1A1E76;
    height: 400px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 5px 6px 4px 0px rgba(10, 7, 36, 0.73);
}

#login-container {
    h1 {
        font-size: 50px;
        color: white;
        align-content: center;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.85);
    }

    .input-group {
        background-color: white;
        border-radius: 10px;
    }

    .input-group-text {
        background-color: transparent;
        border-radius: 10px;
    }

    #ulabel {
        color: white;
    }

    #plabel {
        color: white;
    }

    #btnLogin {
        width: 150px;
        font-size: 20px;
        box-shadow: 3px 3px 0px 0px rgb(12, 9, 51);
    }

    #forgot-pass {
        color: rgb(184, 238, 255);
    }
}